decorator==4.4.2
easydict==1.9
grpcio==1.27.2
matplotlib==3.1.3
mss @ file:///home/conda/feedstock_root/build_artifacts/python-mss_1593533581413/work
numba==0.49.1
numpy==1.18.5
oauthlib==3.1.0
Pillow @ file:///C:/ci/pillow_1594298230227/work
protobuf==3.12.3
PyAutoGUI==0.9.48
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pywin32==301
PyYAML==5.4
scipy @ file:///C:/ci/scipy_1592916963468/work
six==1.15.0
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1595378845776/work/tensorboard-2.3.0-py3-none-any.whl
tensorboard-plugin-wit==1.6.0
tensorboardX @ file:///home/conda/feedstock_root/build_artifacts/tensorboardx_1594067496847/work
toolz==0.10.0
torch==1.7.0
torchvision==0.8.1
tornado==6.0.4
tqdm @ file:///tmp/build/80754af9/tqdm_1593446365756/work
urllib3==1.25.9
Werkzeug==1.0.1
win-inet-pton==1.1.0
wincertstore==0.2
xmltodict==0.12.0
pandas==1.2.4
